---
import Adoption from "../components/Adoption.astro";
import Advantages from "../components/Advantages.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Fqa from "../components/Fqa.astro";
import Patters from "../components/Patters.astro";
import Testimonial from "../components/Testimonial.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="space-y-10">
    <Banner />
    <Advantages />
    <Adoption />
    <Fqa />
    <Testimonial />
    <Patters />
  </main>
  <Footer />
</BaseLayout>
