---
import Adoption from "../components/Adoption.astro";
import Advantages from "../components/Advantages.astro";
import Banner from "../components/Banner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="space-y-10">
    <Banner />
    <Advantages />
    <Adoption />
  </main>
</BaseLayout>
