---
import Adoption from "../components/Adoption.astro";
import Facts from "../components/Facts.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Fqa from "../components/Fqa.astro";
import Patters from "../components/Patters.astro";
import Testimonial from "../components/Testimonial.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout>
  <main class="space-y-10 overflow-x-hidden">
    <Banner />
    <Facts />
    <Adoption />
    <Fqa />
    <Testimonial />
    <Patters />
    <Contact/>
  </main>
  <Footer />
</BaseLayout>
