---
import { Image } from "astro:assets";
import bannerCat from "../assets/images/bannerCat.png";
import elementLine from "../assets/icons/elementLine.svg";
import PrimaryButton from "./PrimaryButton.astro";
---

<div class="flex flex-col bg-[#FFE1E0] h-96">
  <div class="relative w-full h-full">
    <Image
      src={elementLine}
      alt={"Linha"}
      width={200}
      class={"absolute inset-y-0 left-0 h-full hidden sm:max-md:hidden"}
    />
    <Image
      src={bannerCat}
      alt={"Gato"}
      width={600}
      class={"absolute inset-y-0 right-0 object-contain sm:max-md:hidden"}
    />
    <div class="flex flex-col justify-center items-center 
    md:max-2xl:items-start h-full gap-4 md:max-2xl:mx-52">
      <span
        class="font-logo text-[#1A1442] text-3xl leading-none font-bold whitespace-nowrap"
      >
        <h1>Doe amor,</h1>
        <h1>doe o seu lar!</h1>
        <h1>Adote um gatinho</h1>
      </span>
      <PrimaryButton> Quero Adotar </PrimaryButton>
    </div>
  </div>
</div>
