---
import { Image } from "astro:assets";
import bannerCat from "../assets/images/bannerCat.png";
import elementLine from "../assets/icons/elementLine.svg";
import PrimaryButton from "./PrimaryButton.astro";
---

<div class="flex flex-col bg-[#FFE1E0] items-center justify-center">
  <div class="flex flex-row gap-5 w-full items-center">
    <Image
      src={elementLine}
      width={200}
      height={200}
      alt={"Elemento decorativo"}
    />
    <div class="flex flex-row items-center">
      <div class="flex flex-col gap-5">
        <span
          class="font-logo text-[#1A1442] text-5xl font-bold whitespace-nowrap"
        >
          <h1>Doe amor,</h1>
          <h1>doe o seu lar!</h1>
          <h1>Adote um gatinho</h1>
        </span>
        <PrimaryButton> Quero Adotar </PrimaryButton>
      </div>
      <Image src={bannerCat} width={100} height={100} alt={"Banner de gato"} />
    </div>
  </div>
  <div class="inset-x-0 bottom-0">Carousel indicator placehold</div>
</div>
