---
interface Props {
  class?: string | undefined;
}

const { class: classes } = Astro.props;
---

<div class="bg-[#ff8e8a7a] p-2 rounded-full">
  <div
    class:list={[
      "flex flex-col justify-center rounded-full bg-[#FF8D8A] p-4 text-white text-center",
      classes,
    ]}
  >
    <slot />
  </div>
</div>
