---
import Input from "./Input.astro";
import PrimaryButton from "./PrimaryButton.astro";
import Textarea from "./Textarea.astro";

interface Props {
  class?: string;
}

const { class: classes } = Astro.props;
---

<form class:list={["flex flex-col gap-2 md:max-2xl:w-1/3 justify-center", classes]}>
  <Input type="text" name="name" placeholder="Nome" required />
  <Input type="email" name="email" placeholder="Email" required />
  <Input type="tel" name="phone" placeholder="Celular" />
  <Textarea name="message" placeholder="Mensagem" required />
  <PrimaryButton type="submit" variant="secondary">Enviar mensagem</PrimaryButton>
</form>
