---
import { Image } from "astro:assets";
import zap from "../assets/images/zap.png";
---

<div class="fixed bottom-10 right-10 z-50">
  <a href="https://web.whatsapp.com" target="_blank">
    <Image src={zap} width={50} height={50} alt={"Logo do WhatsApp"} />
  </a>
</div>
