---
import { Image } from "astro:assets";
import question from "../assets/icons/question.svg";
import whitePaw from "../assets/icons/white-paw.svg";
import FqaAccordion from "./FqaAccordion.astro";
import bottomLine from "../assets/images/bottomLine1.png";
---

<div class="relative">
  <div class="w-full bg-[#FFE7E7] p-4 overflow-x-visible">
    <Image
      src={whitePaw}
      width={300}
      height={300}
      alt={"Vetor de uma pata de gato branca"}
      class={"absolute -left-10 -top-10 -rotate-[240deg]"}
    />
    <Image
      src={whitePaw}
      width={300}
      height={300}
      alt={"Vetor de uma pata de gato branca"}
      class={"absolute -right-10 -bottom-10 -rotate-[40deg]"}
    />
    <div class="flex flex-col justify-start items-center">
      <Image src={question} width={32} height={32} alt={"Icone FQA"} />
      <h1 class="font-logo text-2xl">Perguntas Frequentes</h1>
      <div class="flex flex-col gap-4 items-center w-1/2">
        <FqaAccordion
          question="Como posso adotar um gatinho?"
          answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit sequi quibusdam eaque voluptatibus optio velit tenetur ratione fuga amet mollitia cumque minima quo sint dolorum, possimus error iste voluptatum!"
        />
        <FqaAccordion
          question="As adoções são gratuitas?"
          answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit sequi quibusdam eaque voluptatibus optio velit tenetur ratione fuga amet mollitia cumque minima quo sint dolorum, possimus error iste voluptatum!"
        />
        <FqaAccordion
          question="Os gatos para adoção são castrados?"
          answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit sequi quibusdam eaque voluptatibus optio velit tenetur ratione fuga amet mollitia cumque minima quo sint dolorum, possimus error iste voluptatum!"
        />
        <FqaAccordion
          question="O que preciso saber antes de adotar um gato?"
          answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit sequi quibusdam eaque voluptatibus optio velit tenetur ratione fuga amet mollitia cumque minima quo sint dolorum, possimus error iste voluptatum!"
        />
        <FqaAccordion
          question="Como fazer a adaptação em casa de um gato adotado?"
          answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit sequi quibusdam eaque voluptatibus optio velit tenetur ratione fuga amet mollitia cumque minima quo sint dolorum, possimus error iste voluptatum!"
        />
      </div>
    </div>
  </div>
</div>
