---
interface Props {
    question: string;
    answer: string;
}

const { question, answer } = Astro.props;
---

<details class="bg-white rounded-lg w-full p-5">
  <summary>
    <div>
        <p>{question}</p>
    </div>
  </summary>
  <p>{answer}</p>
</details>