---
import { Image } from "astro:assets";
import paw from "../assets/icons/paw.svg";

interface Props {
  text: string;
  selected?: boolean | undefined;
  href?: string | undefined;
}

const { text, selected, href } = Astro.props;
const hrefValue = href ?? "/";
---

<li class="flex flex-row gap-1">
  {
    selected && (
      <Image src={paw} width={20} height={20} alt={"Icone de seleção"} />
    )
  }
  <h2 class={selected ? "text-[#FF8B87]" : ""}>
    <a href={hrefValue}>
      {text}
    </a>
  </h2>
</li>
