---
import NavItem from "./NavItem.astro";
---

<nav>
    <ul class="flex flex-row gap-9 items-center">
      <NavItem text="Home" />
      <NavItem text="Sobre" selected />
      <NavItem text="Quero ajudar" />
      <NavItem text="Notícias" />
      <NavItem text="Contato" />
    </ul>
  </nav>