---
import { Image } from "astro:assets";
import logo from "../assets/icons/logo.svg";

interface Props {
    width?: number | undefined;
    height?: number | undefined;
}

const { width, height } = Astro.props
---

<div class="flex flex-row items-center gap-2">
  <Image src={logo} width={width ?? 60} height={height ?? 80} alt={"Logo da Ong TinieBird Cats"} />
  <span class="font-logo font-bold text-lg text-[#1A1442] leading-none">
    Ong <span class="text-[#FF8B87]">Tinie</span><span class="text-[#1268AE]"
      >Bird</span
    > Cats
  </span>
</div>
