---
import { Image } from "astro:assets";
import paw from "../assets/icons/paw.svg";
---

<button
  class="px-10 py-5 bg-[#1268AE] text-white rounded-md whitespace-nowrap flex flex-row gap-1 items-center"
>
  <slot />
  <Image src={paw} width={16} height={16} alt={"Pata"} class={"fill-white"} />
</button>
