---
import { Image } from "astro:assets";
import CircleElement from "./CircleElement.astro";

type TextSide = "left" | "right";

interface Props {
  image: ImageMetadata;
  alt: string;
  side: TextSide;
}

const { image, alt, side } = Astro.props;
---

<div class="flex flex-row gap-2 items-center">
  {
    side === "left" && (
      <p>
        <slot />
      </p>
    )
  }
  <CircleElement>
    <Image src={image} width={16} height={16} alt={alt} />
  </CircleElement>
  {
    side === "right" && (
      <p>
        <slot />
      </p>
    )
  }
</div>
