---
import PrimaryButton from "./PrimaryButton.astro";
import NavMenu from "./NavMenu.astro";
import OngTbLogo from "./OngTbLogo.astro";
---

<div class="flex flex-row px-20 items-center gap-24">
  <OngTbLogo />
  <NavMenu />
  <PrimaryButton> Quero adotar </PrimaryButton>
</div>
