---
import "@fontsource/roboto";
import "../styles/global.css";
import TopBar from "../components/TopBar.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Um olhar, um ronronar, uma amizade para a vida toda. Abrace a companhia de um gato e faça a diferença na vida dele e na sua."
    />
    <title>Ong TinieBird Cats</title>
  </head>
  <body>
    <header>
      <TopBar />
    </header>
    <slot />
  </body>
</html>
